body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    background-color: #49d8e2;
    color: white;
    text-align: center;
    padding: 20px 0;
    z-index: 10;
}

.container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
    margin-top: 20px;
    overflow: hidden;
}

.imgContainer {
    width: 100%;
    display: flex;
    transition: 1s ease-in-out;
    justify-content: space-evenly;
}

img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

img:hover {
    transform: scale(1.1);
}

main {
    padding: 20px;
    background: #ffffff;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #49d8e2;
}

ul {
    list-style: disc inside;
}

.login-button {
    display: inline-block;
    background-color: #49d8e2;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #49d8e2;
    color: white;
}
